<div class="text-center">
  <h6>BALANCE</h6>
  <h2>{{balance$ | async}}</h2>
</div>
<button
  pButton
  pRipple
  label="Add Account"
  icon="pi pi-plus"
  class="block ml-auto"
  (click)="addAccount()"
></button>
<div>
  <div
    pRipple
    class="p-card my-2"
    *ngFor="let account of accounts$ | async"
    (click)="openAccount(account.id)"
  >
    <div class="p-card-header text-lg font-medium p-2">
      {{account.name}}
    </div>
    <div class="p-card-content px-2 py-2">
      {{account.balance}}
    </div>
  </div>
</div>
