<div class="p-4 flex flex-row justify-content-between">
  <p-avatar
    [image]="(imageURL$ | async) || ''"
    size="xlarge"
    shape="circle"
    routerLink="settings"
    [class.hidden]="!(isAuthenticated$ | async)"
  ></p-avatar>
  <button
    pButton
    pRipple
    (click)="logout($event)"
    [class.hidden]="!(isAuthenticated$ | async)"
  >Logout
  </button>
</div>
<div class="flex justify-content-center">
  <div class="p-4 w-full lg:w-4">
    <router-outlet></router-outlet>
  </div>
</div>
<p-toast position="bottom-center"></p-toast>
