<form
  [formGroup]="newTransactionForm"
  class="flex justify-content-center"
>
  <div class="p-4 w-full lg:w-4">
    <div>
      <label for="name" class="block text-900 font-medium mb-2">Account name</label>
      <input
        id="name"
        type="text"
        pInputText
        class="w-full mb-3"
        formControlName="name"
      >

      <label for="initialBalance" class="block text-900 font-medium mb-2">Initial balance</label>
      <input
        id="initialBalance"
        type="text"
        pInputText
        class="w-full mb-3"
        formControlName="initialBalance"
      >

      <button
        pButton
        pRipple
        label="Add"
        icon="pi pi-plus"
        class="w-full"
        (click)="addNewTransaction()"
        type="button"
      ></button>
    </div>
  </div>
</form>
